# ./autogen.sh
/Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/configure

# ./configure
/config.log
/Makefile
/config.status
/pencil-linker
/pencil-optimizer

# make
/bin/
/gen/
/linker.jar
/optimizer.jar
/pencil.jar

# make check
/dbg.log
/linker.log
/linker.sum
/optimizer.log
/optimizer.sum
/testsuite/code/pencil_pre.h
/testsuite/code/pencil_post.h
